Part 1: Printing to the Console
(4 Marks)

In [ ]:
# In the space below, please print "Hello, World! Welcome to the Student Gradebook Management System."
print("Hello, World! Welcome to the Student Gradebook Management System.")

Hello, World! Welcome to the Student Gradebook Management System.

In [ ]:
# Fill in your information using the defined variables below:
# (1 mark)
lab_group_number = 9
intake_year = 2025
intake_semester = "Fall" #"Fall" or "Winter"

# Using f-strings and the variables above, print "This is implemented by Group <lab_group_number>, for ENGG680 <intake_semester> of <intake_year>"
# (1 marks)
print(f'This is implemented by Group {lab_group_number}, for ENGG680 {intake_semester} of {intake_year}')

This is implemented by Group 9, for ENGG680 Fall of 2025

In [ ]:
# Similarly, create variables for each of your group members (eg. member_1, member_2....) and assign them your first names.
Member_1 = "Haniya"
Member_2 = "Paula"
Member_3 = "Maryam"
Member_4 = "Qummar"
Member_5 = "Niki"

# Then, using f-strings and the variables above, print the following sentence:
# "Our Group Members include <member_1>, <member_2>, ..."
print(f"Our Group Members include {Member_1}, {Member_2}, {Member_3}, {Member_4}, {Member_5} ")
# (1 marks)

Our Group Members include Haniya, Paula, Maryam, Qummar, Niki

In [ ]:
# Use indexing to print "The subjects involved in this grading system is English and Math." using "subjects" below.
# (1 marks)
subjects = ("English", "Math")
print(f'The subjects involved in this grading system is {subjects[0]} and {subjects[1]}.')

The subjects involved in this grading system is English and Math.

Part 2: Python Fundamentals
(11 Marks)

In [ ]:
# Lists (2 marks)

# 1. Create a list of any 5 cities in Alberta.
#
Alberta_Cities = ["Calgary", "Edmonton", "Red Deer", "Canmore", "Airdrie"]

# 2. Print the list
#
print("Initial List of Alberta Cities:", Alberta_Cities)

# 3. Add a new city to list.
#
Alberta_Cities.append("Lethbridge")

# 4. Remove the second city using either remove() or pop().
#
Alberta_Cities.pop(1)

# 5. Sort the list alphabetically
#
Alberta_Cities.sort()

# 6. Print your final list
#
print("Final list of Alberta Cities:", Alberta_Cities)

Initial List of Alberta Cities: ['Calgary', 'Edmonton', 'Red Deer', 'Canmore', 'Airdrie']
Final list of Alberta Cities: ['Airdrie', 'Calgary', 'Canmore', 'Lethbridge', 'Red Deer']

In [ ]:
# Tuples (2 marks)

# 1. Create a tuple of 3 favorite numbers.
#
My_Favorite_Numbers = (5,9,8)


# 2. Print the tuple.
#
print (My_Favorite_Numbers)


# 3. Try to modify the second element. Does that work? Explain.
#
My_Favorite_Numbers[1]=18

#Explanation: Tuples are immutable therefore once the elements are created, they cannot be changed. Also, if you try to change them, tuple will result to TypeError.

(5, 9, 8)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Dictionaries (2 marks)

# 1. Create a dictionary representing a mini visa form with keys like:
# "Name", "File Number", "Country", "Visa Type", "Expiry Year"
# Assign fictional values to the keys.
# Note: Dictionaries can contain values of different data types.
#

Mini_Visa_form = {
    "Name" : "Paula Marie Honrade",
    "File Number" : "E112233445",
    "Country" : "Canada" ,
    "Visa Type" : "Student",
    "Expiry Year":2027
}


# 2. Print the dictionary
#
print(Mini_Visa_form)

# 3. Add a new key "University" with a value
#
Mini_Visa_form['University'] = "University of Calgary"

# 4. Update "Expiry Year" to a new year
#
Mini_Visa_form['Expiry Year'] = 2030
# 5. Print the final dictionary
#
print(Mini_Visa_form)

{'Name': 'Paula Marie Honrade', 'File Number': 'E112233445', 'Country': 'Canada', 'Visa Type': 'Student', 'Expiry Year': 2027}
{'Name': 'Paula Marie Honrade', 'File Number': 'E112233445', 'Country': 'Canada', 'Visa Type': 'Student', 'Expiry Year': 2030, 'University': 'University of Calgary'}

In [ ]:
# Sets (2 marks)

# Set 1
subjects1 = {"Math", "English", "Physics", "Biology", "History"}

# Set 2
subjects2 = {"Math", "English", "Chemistry", "Geography", "Physics"}

# Tip: Use f-strings to print clear messages along with your output.
# Eg. "Union: ", "Intersection: "

# 1. Print both the sets
#
print(f"Subjects 1: {subjects1}")
print(f"Subjects 2: {subjects2}")

# 2. Print the union of sets
#
print(f"Union: {subjects1.union(subjects2)}")
# 3. Print the intersection of sets
#
print(f"Intersection: {subjects1.intersection(subjects2)}")
# 4. Print the difference (subjects1 - subjects2)
#
print(f"Difference (subjects1 - subjects2): {subjects1.difference(subjects2)}")

Subjects 1: {'Biology', 'English', 'Physics', 'Math', 'History'}
Subjects 2: {'Chemistry', 'Physics', 'Geography', 'English', 'Math'}
Union: {'Biology', 'Chemistry', 'Geography', 'Math', 'History', 'Physics', 'English'}
Intersection: {'Physics', 'English', 'Math'}
Difference (subjects1 - subjects2): {'Biology', 'History'}

In [ ]:
# Classes and Function (3 marks)

# Step 1: Create a class BankAccount.
# Add class attribute bankname="Canada Bank"
# Add 2 instance attributes: account_holder (string) & balance (float, default value 0.0)

class BankAccount:

  #class attribute
  bankname = "Canada Bank"

  #Constructor with 2 Instance Attributes
  def __init__(self,account_holder,balance=0.0):
    self.account_holder = account_holder
    self.balance = balance


# Step 2: Add methods
# 1. deposit(amount) -> Add amount to the balance

  def deposit(self, amount):
     self.balance += amount
     print(f"Deposited CAD {amount:.2f}. New balance: CAD {self.balance:.2f}")


# 2. withdraw(amount) -> Subtract the amount if balance is sufficient, else print an error message

  def withdraw(self, amount):
      if amount <= self.balance:
            self.balance -= amount
            print(f"Withdraw CAD {amount:.2f}. Remaining balance: CAD {self.balance:.2f}")
      else:
            print(f"Insufficient balance to withdraw CAD {amount:.2f}. Current balance: CAD {self.balance:.2f}")

# 3. get_balance() -> Print Account holder's name and current balance

  def get_balance(self):
        print(f"{self.account_holder}'s current balance: CAD {self.balance:.2f}")


# 4. get_bankname() -> Print the class attribute (staticmethod)
  def get_bankname():
        print(f"Bank Name: {BankAccount.bankname}")

# Note: Use f-strings to display the amount and updated balance whenever you call deposit() or withdraw()


# Step 3: Test
# 1. Print the Bankname
BankAccount.get_bankname()

# 2. Create an object of BankAccount with your name and an initial balance of 1000
account1 = BankAccount("Paula", 1000)

# 3. Deposit 500
account1.deposit(500)

# 4. Withdraw 200
account1.withdraw(200)


# 5. Print the final balance
account1.get_balance()

Bank Name: Canada Bank
Deposited CAD 500.00. New balance: CAD 1500.00
Withdraw CAD 200.00. Remaining balance: CAD 1300.00
Paula's current balance: CAD 1300.00